{% extends 'projects/main.html' %}
{% block content %}

<!-- you have account condition -->
{% if page == 'register' %}
    <h1>Register User</h1>

    <!-- register form -->
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register User">
    </form>

    <p>You already have an account <a href="{% url 'login' %}">Login</a></p>

<!-- you dont have acount condition -->
{% else %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Enter password"/>
    <input type="submit" value="Login"/>
    <p>You don't have an account<a href="{% url 'register' %}">Sign Up</a></p>
</form>
{% endif %}

{% endblock content %}